<h1>EDIT MURID</h1>
<%= form_with model: @murid do |f| %>
  <div class="form-group">
  <%= f.label "Nama Murid", class: 'control-label' %>
  <%= f.text_field :nama, class: "form-control", placeholder: "Nama Murid" %>
  </div>
  <div class="form-group">
  <%= f.label "Jenis Kelamin", class: 'control-label' %>
  <div class="controls">
  <%= f.select(:jenis_kelamin, options_for_select([["Laki-laki", Integer(1)],["Perempuan",Integer(2)]])) %>
  </div>
  </div>
  <div class="form-group">
  <%= f.label "Tempat Lahir", class: 'control-label' %>
  <%= f.text_field :tmp_lahir, class: "form-control", placeholder: "Tempat Lahir" %>
  </div>
  <div class="form-group">
  <%= f.label "Tanggal Lahir", class: 'control-label' %>
  <%= f.date_field :tgl_lahir, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label "Alamat", class: 'control-label' %>
  <%= f.text_field :alamat, class: "form-control", placeholder: "Alamat" %>
  </div>
  <div class="form-group">
  <%= f.label "Nomor Telpon", class: 'control-label' %>
  <%= f.number_field :no_tlp, class: "form-control", placeholder: "Nomor Telpon" %>
  </div>

  <%= f.submit class: 'btn btn-primary', role: 'button' %>
  <% end %>
  
