<h1> DAFTAR INSTRUKTUR </h1>
<div class="pull-right">
<%= link_to 'ADD INTRUKTUR', new_instruktur_path, class:'btn btn-primary' %>
</div>
<div class="container">
<table class="table">
<thead class="thead-dark">
  <tr>
	<th scope="col"></th>
	<th scope="col">NAMA INTRUKTUR</th>
    <th scope="col">JENIS KELAMIN</th>
    <th scope="col">TEMPAT LAHIR</th>
    <th scope="col">TANGGAL LAHIR</th>
    <th scope="col">ALAMAT</th>
	<th scope="col">NOMOR TELPON</th>
  </tr>
</thead>
<tbody>
	<% @instrukturs.each_with_index do |f,index| %>
  <tr>
	<th scope="row"><%= index +1 %></th>
	<td><%= f.nama %></td>
    <td><%= f.jenis_kelamin==1 ? 'Laki-laki' : 'Perempuan' %></td>
    <td><%= f.tmp_lahir %></td>
    <td><%= f.tgl_lahir %></td>
    <td><%= f.alamat %></td>
	<td><%= f.no_tlp %></td>
	<td><%= link_to 'show', f, class:'btn btn-info'%></td>
	<td><%= link_to 'edit', edit_instruktur_path(f), class:'btn btn-warning' %></td>
	<td><%= link_to 'delete', f , method: :delete, class:'btn btn-danger' %></td> 
	</tr>
  <% end %>
  </tbody>
  </table>
  </div>