<h4> NAMA          :  <%= @instruktur.nama %> </h4>
<h4> JENIS KELMAIN :  <%= @instruktur.jenis_kelamin %></h4>
<h4> TEMPAT LAHIR  :  <%= @instruktur.tmp_lahir %> </h4>
<h4> TANGGAL LAHIR :  <%= @instruktur.tgl_lahir %></h4>
<h4> ALAMAT        :  <%= @instruktur.alamat %> </h4>
<h4> NOMOR TELPON  :  <%= @instruktur.no_tlp %></h4>
<br>
<%= link_to 'kembali', instrukturs_path, {class: 'btn btn-default'} %>